@width_side_menu: 200px;

:host {
    position: relative;
    display: block;
}

.content {
    position: absolute;
    display: block;
    color: white;
    left: 200px;
    top: 0px;
    box-sizing: border-box;
    width: calc(100% ~'-' @width_side_menu);
    padding: 10px;
}