<template ngFor let-section [ngForOf]="vm.sections" let-i="index">
    <div 
            class="section"
            (click)="vm.onClick_section(section)"
            [class.opened]="vm.openedSection === section" >
        {{ section.name }}
    </div>
    <div class="items" *ngIf="vm.openedSection === section" [@openSection]>
        <template ngFor let-item [ngForOf]="section.items" let-i="index">
            <div class="item">
                {{ item.text }}
            </div>
        </template>
    </div>
</template>
