@import (reference) '../../../static/css/global.less';

@width_menu: 200px;
@color_section_bg: black;
@color_section_fg: white;
@color_section_border: grey;

:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: @width_menu;
    background-color: @color_section_bg;
    border-right: 1px solid #bcff00;
}

.section {
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.8rem;
    background-color: @color_section_bg;
    color: @color_section_fg;
    border-bottom: 1px solid @color_section_border;
    .truncate(180px);    
    cursor: pointer;

    &.opened {
        background-color: #bcff00;
        color: black;
    }
}

.items {

    background-color: #171717;

    .item {
        padding: 5px 0 5px 15px;
        color: #bcff00;
        .truncate(180px);
    }

    border-bottom: 1px solid @color_section_border
}

